# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# API keys and secrets
.env
.env.local

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db